<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= domain %> | <%= title %></title>
</head>
    <%- include('views/components/head') %>
  <body>

      <main>
          
          <!-- 
              ///// PIANO //////
            -->
            
        <%- include('views/components/piano3D') %>
        <button id="record">record</button>
        <%- include('views/components/timeline') %>
        <button id="add-track"></button>
        <button class="btn-remove-highlights">Remove highlighted keys</button>

        <!-- 
        ////// PIANO /////// 
        -->

    </main>
    <%- include('views/components/scripts') %> 
  </body>
</html>