:root {
    --width: 80%;
    --margin: 5% 0 0 5%;
}

html, body, main {
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: large;
}