html, body, main {
    margin: 0;
    height: 100%;
    width: 100%;
}

main {

}

#playPiano {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

button {
    align-self: center;
}

#piano {
    background-color: black;
    width: 100%;
    height: 28vw;
    position: relative;
}

#piano-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../svg/ocean.svg');
}

#all-keys {
    backdrop-filter: blur(2px);
    z-index: 2; 
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


.octave {
    margin: 0;

    position: relative;
    width: 100%;
    height: 100%;
}

.white-keys, .black-keys {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    height: 100%;
}

.black-keys {
    position: relative;
    /*Car la div est par dessus les notes blanches*/
    pointer-events: none;
}

.left-part, .right-part {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.black-keys .left-part {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
}

.black-keys .right-part {
    position: relative;
    grid-column: 4/8;
} 

.white-keys {
    position: absolute;
}

.white-keys canvas {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px rgba(0, 0, 0, 0.404) solid;
    backdrop-filter: opacity(0) hue-rotate(0deg);
    /* background-color: rgba(145, 142, 255, 0.41); */
}

 .white-keys canvas:hover {
    background-color: rgb(241, 202, 255, .4) !important;
}
 
canvas[class$="highlighted"] {
    background-color: rgb(4, 0, 255);
}


.black-keys .keys {
    display: grid;
}

.black-keys .left-part .keys {
    gap: 35%;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    height: 100%;
}

.black-keys .right-part .keys {
    gap: 20%;
    width: 77%;
    grid-template-columns: repeat(3, 1fr);
}


.black-keys canvas {
    /*Seulement cette partie est écoutée*/
    pointer-events: all;
    width: 100%;
    height: 70%;
    background: rgb(0,0,0, .8);
    background: linear-gradient(97deg, rgba(0,0,0,1, .8) 0%, rgba(0,0,0,1, .8) 55%, rgba(0, 0, 0, 0.5) 77%, rgba(0,0,0,1, .8) 100%); 
    box-sizing: border-box;
    border-right: 3px solid rgba(255, 255, 255, 0.499);
    border-bottom: 3px solid rgba(255, 255, 255, 0.371);
    border-radius: 3px;
}


/* .black-keys canvas:hover {
    background: rgb(75, 0, 122, 1) !important;
    background: linear-gradient(97deg, rgba(75, 0, 122, .8) 0%, rgba(75, 0, 122, .8) 55%, rgba(75, 0, 122, .5)  77%, rgba(75, 0, 122, .8) 100%);
} */