.all-labels {
    display: flex;
    width: 100px;
    height: 100%;
}

.behindLabels {
    flex: 1;
    height: 100%;
    position: relative;
}

.front-all-labels {
    flex: 2;
    height: 100%;
    position: relative;
}

.all-labels-layout, .all-labels-user-select {
    position: absolute;
    width: 100%;
    height: 100%;
}

.labelLayout {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    flex-direction: column;
    width: 100%;
}

.covering-label {
    z-index: 9;
    content: "";
    position: absolute;
    width: 100%;
}

.all-labels-user-select {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.label {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-align: center;
    color: white;
    cursor: pointer;
}

.curved-bottom-left, .curved-top-right {
    pointer-events: none;
    content: "";
    position: relative;
    width: 100%;
}

.layerColor, .top-right-radius, .bottom-left-radius {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}

.top-right-radius {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.bottom-left-radius, .curved-top-right .layerColor {
    border-bottom-left-radius: 10px;
}