<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
</head>
<body>
      <main>
        <%=pianoElmt%>
        
          
          <!-- 
              ///// PIANO //////
            -->
        
        <button id="record">record</button>
        <button id="add-track"></button>
        <button class="btn-remove-highlights">Remove highlighted keys</button>

        <!-- 
        ////// PIANO /////// 
        -->

    </main>
  </body>
</html>